framework/src/com/primix/tapestry/parse/Tapestry_1_0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<!ELEMENT alias (#PCDATA)>
<!ELEMENT allow-body (#PCDATA)>
<!ELEMENT allow-informal-parameters (#PCDATA)>
<!ELEMENT application (name, page+, component-alias*, properties?)>
<!ELEMENT assets (internal-asset | external-asset | private-asset)+>
<!--The buffer-size element is deprecated and will be removed in the next version of the DTD.-->
<!ELEMENT buffer-size (#PCDATA)>
<!ELEMENT binding (name, property-path)>
<!ELEMENT bindings (binding | static-binding | inherited-binding | field-binding)+>
<!ELEMENT class (#PCDATA)>
<!ELEMENT component (id, type, bindings?, properties?)>
<!ELEMENT components (component)+>
<!ELEMENT component-alias (alias, specification-path)>
<!ELEMENT external-asset (name, URL)>
<!ELEMENT field-binding (name, field-name)>
<!ELEMENT field-name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT inherited-binding (name, parameter-name)>
<!ELEMENT internal-asset (name, path)>
<!ELEMENT java-type (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!--The buffer-size element is deprecated, and will be removed in the next version of the DTD.  In addition, properties will no longer be allowed within the page element in the next release of the DTD.-->
<!ELEMENT page (name, buffer-size?, specification-path, properties?)>
<!ELEMENT parameter (name, java-type?, required?)>
<!ELEMENT parameters (allow-informal-parameters?, parameter*)>
<!ELEMENT parameter-name (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT private-asset (name, resource-path)>
<!ELEMENT properties (property)+>
<!ELEMENT property (name, value)>
<!ELEMENT property-path (#PCDATA)>
<!ELEMENT required (#PCDATA)>
<!ELEMENT resource-path (#PCDATA)>
<!ELEMENT specification (class, allow-body?, parameters?, components?, assets?, properties?)>
<!ELEMENT specification-path (#PCDATA)>
<!ELEMENT static-binding (name, value)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT value (#PCDATA)>
